<div class="row">
</br>
</br>
	<div class="small-12-center large-6 columns">
		<h1>GypZ Vibes</h1>
			<h6>info@gypzvibes.com </br> 682-593-9146 </br> IG: gypzvibes</h6>
		<p>Home and office cleansing.</p>
	</div>
	<div class="small-12 large-6 columns">
		<img src="https://wallpaperbrowse.com/media/images/3848765-wallpaper-images-download.jpg">
	</div>
</div>
