<div class="row">
</br>
</br>
	<div class="small-12-center large-6 columns">
		<h6>Please pardon our digital dust.. the SERVICES page is under construction</h6>
	</div>
	<div class="small-12 large-6 columns">
<img src="https://images.pexels.com/photos/39317/chihuahua-dog-puppy-cute-39317.jpeg?auto=compress&cs=tinysrgb&h=350">
</div>
