// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*center name*/

/* style for testimonials images */
img#testimonial_img {
	border: 2px solid black;
	height: 200px;
	border-radius: 50%;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}
img#zara {
	border-radius: 50%;
	maz-width: 100%;
	height: auto;
}