<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation" data-options="scrolltop:false">
    <ul class="title-area">
      <li class="name">
        <h1><%= link_to "Home", home_path %></h1>
      </li>
       <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
      <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
        <li class="active">Services</li>
      </ul>
      <ul class="left">
        <li class="active">Testimonials</li>
      </ul>
     
    </section>
  </nav>
</div>